
@font-face {
    font-family: 'didact_gothicregular';
    src: url('didactgothic.eot');
    src: url('didactgothic.eot?#iefix') format('embedded-opentype'),
         url('didactgothic.woff') format('woff'),
         url('didactgothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}