@font-face {
    font-family: 'Lasco';
    src: url('lasco-regular.eot');
    src: url('lasco-regular.eot?#iefix') format('embedded-opentype'),
         url('lasco-regular.woff') format('woff'),
         url('lasco-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lasco';
    src: url('lasco-bold.eot');
    src: url('lasco-bold.eot?#iefix') format('embedded-opentype'),
         url('lasco-bold.woff') format('woff'),
         url('lasco-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
