.clrB{clear:both;}
.quickgalleryWrapCnt {overflow:hidden;}
.quickgalleryWrap a, .quickgalleryWrap a:hover {text-decoration:none;}
.preloader { background:url(../images/preloader.gif) center center no-repeat;}
.imageThumb.preloader{background-position:20px center;}
.quickgalleryWrap.theme3{position:relative;float:left;z-index:10;}
	.quickgalleryWrap.theme3 .slides{overflow:hidden; }
		.quickgalleryWrap.theme3 .slides .slide{overflow:hidden;position:relative;}
		.quickgalleryWrap.theme3 .slides a.imagelink {overflow:hidden;display:block;outline:none;}
		.quickgalleryWrap.theme3 .slides a.imagelink  img{display:block;}
	
	.quickgalleryWrap.theme3 .slides .titledesc{display:block;position:absolute;left:0;bottom:0;width:100%;background:url(../images/slidetitledesc-bg.png);padding:5px;}
		.quickgalleryWrap.theme3 .slides .titledesc .title{display:block;color:#fff;font-size:1.2em;}
		.quickgalleryWrap.theme3 .slides .titledesc .description{display:block;color:#ccc;}
	
	.quickgalleryWrap.theme3 .slideNav {position:absolute;top:5px;right:10px;z-index:1000;}		
		.quickgalleryWrap.theme3 .slideNav .slidePagerToggle {background: url(../images/quickgallery_normal.png) no-repeat -65px top;width:16px;height:16px;display:block;}
			.quickgalleryWrap.theme3 .slideNav .slidePagerToggle:hover {background: url(../images/quickgallery_normal.png) no-repeat -65px -16px;}
		.quickgalleryWrap.theme3 .slideNav .slidePagerToggle.pause {background: url(../images/quickgallery_normal.png) no-repeat -20px top;}
			.quickgalleryWrap.theme3 .slideNav .slidePagerToggle.pause:hover {background: url(../images/quickgallery_normal.png) no-repeat -20px -16px;}
	
	.quickgalleryWrap.theme3 .prevNext a {position:absolute;top:25%;z-index:1000;height:50%;width:18%;display:block;}
		.quickgalleryWrap.theme3 .prevNext a span {display:block;height:36px;width:54px;position:absolute;top:50%;margin-top:-18px;cursor:pointer}
		.quickgalleryWrap.theme3 .prevNext a.slidePrev {left:0;}
		.quickgalleryWrap.theme3 .prevNext a.slidePrev span{left:0;background:#D9D9D9 url(../images/quickgallery_normal.png) no-repeat -298px 8px;border-radius:0 10px 10px 0;}
		.quickgalleryWrap.theme3 .prevNext a.slideNext {right:0;}
		.quickgalleryWrap.theme3 .prevNext a.slideNext span{right:0;background:#D9D9D9 url(../images/quickgallery_normal.png) no-repeat -351px 8px;border-radius:10px 0 0 10px;}
		
	div.quickgalleryThumbs.theme3 {float:left;margin-left:-11px;position:relative;z-index:11;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap {cursor:pointer;padding-left:12px;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap .thumbsCnt {border:1px solid #fff;border-left:none;cursor:pointer;overflow:hidden;padding:2px 5px 2px 5px;border-right:5px solid #fff;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap .imageThumb{display:block;overflow:hidden;font-size:12px;position:relative;float:left;margin-right:5px;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap .imageThumb a {display:block;overflow:hidden;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap .imageThumb span.index {position:absolute;left:0;top:0;background:#333;color:#fff;padding:0 2px;font-size:10px;text-align:center;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap .imageThumb img {float:left;margin-right:5px;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap:hover , div.quickgalleryThumbs.theme3 .thumbsCntWrap.activeSlide {background: url(../images/theme3-bg.png) no-repeat left center;position:relative;z-index:1000;}
		 div.quickgalleryThumbs.theme3 .thumbsCntWrap.activeSlide .thumbsCnt, div.quickgalleryThumbs.theme3 .thumbsCntWrap .thumbsCnt:hover {background:#DFDDDD;border:1px solid #ACABAB;border-left:none;border-right:5px solid #C6C6C6;}
		 
		div.quickgalleryThumbs.theme3 a.activeSlide {background: #88f;}
		div.quickgalleryThumbs.theme3 .thumbsCntWrap .titledesc {vertical-align:top;} 
		
.quickgalleryThumbs, .quickgalleryThumbs .thumbSlides, .quickgalleryThumbs .thumbSlides .group{background:none !important;}
.quickgalleryThumbs .thumbsNav {text-align:center;display:block;overflow:hidden;float:left;margin:10px auto;padding-left:20px;}
	
	.quickgalleryThumbs .thumbsNav .thumbsPagerPrev {background: url(../images/quickgallery_normal.png) no-repeat 0 3px;width:10px;height:18px;float:left;}
		.quickgalleryThumbs .thumbsNav .thumbsPagerPrev:hover {background: url(../images/quickgallery_normal.png) no-repeat left -32px;}
	.quickgalleryThumbs .thumbsNav .thumbsPagerNext {background: url(../images/quickgallery_normal.png) no-repeat -48px 3px;width:10px;height:18px;float:left;}
		.quickgalleryThumbs .thumbsNav .thumbsPagerNext:hover {background: url(../images/quickgallery_normal.png) no-repeat -48px -32px;}
	
	
	.quickgalleryThumbs .thumbsNav .thumbsPager {float:left;overflow:hidden;margin-top:3px;}
	.quickgalleryThumbs .thumbsNav .thumbsPager a { background: url("../images/quickgallery_normal.png") no-repeat scroll -95px top transparent; float: left; height: 12px; margin: 0 4px 0 0; overflow: hidden; text-indent: 10000px; width: 12px; }
	.quickgalleryThumbs .thumbsNav .thumbsPager a:hover, .quickgalleryThumbs .thumbsNav .thumbsPager a.activeSlide { background:url("../images/quickgallery_normal.png") no-repeat scroll -95px -12px; }